html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

/* ==========Navbar styleings start========== */

.nav-container {
  position: inherit;
  background-color: rgb(8, 18, 46);
}
.nav-container hr {
  border: 0.1px solid #9e9d9d;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-expand-lg {
  padding: 0 16px;
}

.navbar-brand img {
  position: relative;
  width: 150px;
  height: 90px;
  margin-left: 50px;
  top: 30px;
  z-index: 999;
  padding: 0;
}

.nav {
  padding-left: 50px;
  font-size: 12px;
}

.nav a {
  height: 20px;
  padding: 5px, 5px;
  color: #9e9d9d;
}

.nav a:hover {
  color: #f2f2f2;
}

.navbar li a {
  height: 10px;
  padding: 0 10px 30px 10px;
  color: #9e9d9d;
}

.dropdown-menu {
  background-color: #ffffff;
  color: #272626;
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.dropdown-menu .dropdown-item {
  padding: 10px 10px 40px 10px;
}

.dropdown-menu a:hover {
  background-color: #08122e;
  color: #ffffff;
  transition: linear 0.5s;
}

/* ==========Navbar styleings end========== */

/* =========Header section stylings start======== */
.header {
  padding: 0;
  margin: 0;
}

.carousel-item img {
  height: 100%;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0;
  top: 25em;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption h2 {
  background-color: #86a5fa;
  opacity: 0.5;
  padding: 15px;
}
.carousel-caption h2 span {
  color: #ffffff;
  opacity: none;
}
/* =========Header section stylings stop======== */
marquee {
  padding: 5px;
  /* background-color: #e2e2e2; */
  border: none;
  margin: 0;
}
/* =======Welcome section start======== */
.card {
  /* background-color: #e2e2e2; */
  margin: 0;
  padding: 5em 10em;
  line-height: 1.8em;
  border: none;
}

.card p {
  text-align: justify;
}

.card-title,
h3 {
  text-align: center;
  padding-bottom: 20px;
}

.card .btn {
  width: 10vw;
}

/* =======Welcome section end======== */

#commitment {
  /* background: #86a5fa 50% 101% url(../img/eagle.jpg) no-repeat; */
  background: black;
  background: linear-gradient(rgba(20, 78, 238, 0.8), rgba(20, 78, 238, 0.8)),
    url(../../public/img/eagle.jpg) no-repeat;
  background-size: cover;
  background-position: absolute;
  justify-content: justify;
  text-align: center;
  height: 50vw;
  overflow: hidden;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  opacity: 0.7;
}

.about {
  padding: 3em 15em;
}
.about p {
  margin-top: 50px;
}

h4 {
  text-align: center;
  padding-bottom: 40px;
  margin: 0%;
}

h3 {
  margin: 0%;
}

#feature {
  padding: 15px 15px;
  justify-content: justify;
  text-align: justify;
  text-decoration: none;
  margin-right: 0;
}

.footer-container {
  background-color: rgb(8, 18, 46);
  color: white;
  /* text-align: justify; */
}
.nav {
  padding: 30px 8em 3px 8em;
}

.footer-container h4 {
  margin: 0;
  padding: 0 0.1px;
  text-align: left;
}
.foot-note {
  text-align: center;
  font-size: 13px;
  padding: 10px;
}
p {
  margin: 0;
}

.foot-note a {
  color: #ffffff;
  text-decoration: none;
}
.foot-note a:hover {
  color: rgb(243, 181, 181);
  text-decoration: none;
}

.foot-mark {
  border: 0.1px solid #9e9d9d;
  /* margin: 1px; */
}
.footer-container .mark {
  border: #9e9d9d;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 0.5px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .card {
    padding: 40px 20px;
    margin: 0px -20px;
  }

  .card-feature {
    margin: 0px -20px;
    padding: 40px 20px;
  }

  .col-lg-4,
  .col-lg-3 {
    padding: 5px 0px;
  }
}
