html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    
    
}

.nav-container {
    position: inherit;;
    background-color: rgb(54, 53, 53);
    color: white;
}

.nav a {
    height: 20px;
    padding: 5px, 5px;
    color: white;
}

.nav a:hover {
    color: red;
}


.nav-link:hover {
    color: red;}

.navbar li a {
    height: 20px;
    padding: 0 10px 40px 10px;
    color: white;
}

.navbar li a:hover {
    color: red;
}

.dropdown-menu {
    background-color:  rgb(54, 53, 53);;
    color: white;
    padding: 0;
}

.card {
    padding: 0px 5%;
    margin: 0px 0px 0px 0px;
}

.card-body {
    text-align: justify;

}

.card-title, h3 {
    text-align: center;
    padding-bottom: 40px;
}

.col-lg-4, .col-lg-3 {
    padding: 5px 5px; 
}


#about-container {
    padding: 15px 15px;
    justify-content: justify;
    text-align: justify;
    text-decoration: none;
    margin-right: 0;
}

.about {
    padding: 50px 30px;

}

h4 {
    text-align: center;
    padding-bottom: 40px;
    margin: 0%;
    
}

h3 {
    margin: 0%;
}

#feature {
    padding: 15px 15px;
    justify-content: justify;
    text-align: justify;
    text-decoration: none;
    margin-right: 0;
}



.footer-container{
    position: inherit;
    background-color: rgb(54, 53, 53);
    color: white;
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: justify;
    text-align: justify;
}

.foot-note{
    text-align: center;
    padding-bottom: 0;
}

.foot-note a {
    color: rgb(243, 181, 181);
    text-decoration: none;
}

.foot-mark {
    color: white;
    width: 10px;
}

@media only screen and (max-width: 600px) {
    body {
      width: 100%;
    }

    .card {
        padding: 40px 20px;
        margin: 0px -20px;
    }

    .card-feature {
        margin: 0px -20px;
        padding: 40px 20px;
    }

    .col-lg-4, .col-lg-3 {
        padding: 5px 0px; 
    }
  }